# Ignore Maven/Gradle build output
target/

# Ignore logs directory
logs/
api-gateway/logs/
book-service/logs/
eureka-server/logs/
fine-service/logs/
member-service/logs/
notification-service/logs/
transaction-service/logs/

# Ignore IDE files
*.iml
.idea/
*.classpath
*.project
*.settings/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore environment files
.env
